.card {
  border: 1px solid #E1E1E1;
  box-sizing: border-box;

}

.card-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.card-img {
  overflow: hidden;

  img {
    transition: 0.4s;
  }

  &:hover {
    img {
      transform: scale(1.07);
    }
  }
}

.card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.card-info {
  padding: 18px 24px 24px;
  box-sizing: border-box;
}

.card-buy {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.card-prices {
  span {
    display: block;
  }
}

.card-prices-center {
  display: flex;
  align-items: center;
}

.card-price {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

.card-oldprice {
  text-decoration-line: line-through;
  color: #A0A0A0;
  font-size: 14px;
  line-height: 150%;
}

.card-sold {
  display: block;
  margin-top: 34px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}



.loading:after {
  content: '.';
  -webkit-animation: loading 1s ease alternate infinite;
  animation: loading 1s ease alternate infinite;
}

@-webkit-keyframes loading {
  60% {
    text-shadow: 0.35em 0 0 currentColor;
  }

  100% {
    text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor;
  }
}

@keyframes loading {
  60% {
    text-shadow: 0.35em 0 0 currentColor;
  }

  100% {
    text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    width: 30%;
  }
}

@media screen and (min-width: 1640px) {
  .card {
    width: 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 1920px) {
  .card {
    width: 14.58vw;
  }
}