.nav {
  padding: 24px 0;
  width: 27.03vw;


  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
}

.nav-link {
  text-decoration: none;
  color: #343030;
  font-size: 14px;
  line-height: 1.5;

}

@media screen and (max-width: 1640px) {
  .nav-link {
    font-size: 11px;
  }
}